<div class="language-switcher">
  <a href="?locale=en" class="{% if request.locale.iso_code == 'en' %}active{% endif %}">EN</a>
  <span>/</span>
  <a href="?locale=uz" class="{% if request.locale.iso_code == 'uz' %}active{% endif %}">UZ</a>
  <span>/</span>
  <a href="?locale=ru" class="{% if request.locale.iso_code == 'ru' %}active{% endif %}">RU</a>
</div>
