<div class="page-404">
  <h1>404</h1>
  <p>{{ 'general.404.message' | t }}</p>
  <a href="/" class="btn-gold">{{ 'general.404.button' | t }}</a>
</div>

{% schema %}
{
  "name": "404 Page",
  "settings": [],
  "templates": ["404"]
}
{% endschema %}
